.form__form-group {
  margin-bottom: 20px;
  width: 100%;
  position: relative;
  direction: rtl;
  text-align: right;
}
.exception-for-form {
  direction: ltr;
}
.checkbox-btn__label {
  padding-right: 28px;
}

.widthsad {
  .row {
    width: 100%;
  }
}

.filterTitle {
  text-align: right;
  margin-bottom: 35px;
}

.dropdown {

  &:last-child .btn {
    margin-right: 0;
  }

  .btn.icon svg {
    height: 18px;
    width: 20px;
    margin-right: -5px;
  }

  .btn-group {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }

    .btn {

      &:last-child {
        border-left: none;
        padding: 7px;

        svg {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }
}

.dropdown__menu {
  width: 170px;
  border-radius: 0;
  border: none;
  margin: 0;
  padding: 15px 0;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.05);
  font-size: 13px;

  @include themify($themes) {
    background: themed('colorBackground');
  }

  button {
    transition: all 0.3s;
    padding: 7px 24px;
    cursor: pointer;

    @include themify($themes) {
      color: themed('colorText');
    }

    &:hover {

      @include themify($themes) {
        background: themed('colorHover');
        color: themed('colorText');
      }
    }
  }

  button:focus, button:active, button:active:focus {
    outline: none;
  }

  .active button {
    background-color: $color-blue;

    &:hover {
      background-color: $color-blue-hover;
    }
  }
}


.select-options {
  margin: 0 4px;
  border-radius: 3px;
  cursor: pointer;
  background: transparent;

  @include themify($themes) {
    color: themed('colorText');
  }

  &:focus {
    outline: none;
  }

  option {

    @include themify($themes) {
      background-color: themed('colorBackground');
    }
  }
}

.table {

  &:last-child {
    margin-bottom: 0;
  }

  tbody td, th {
    border: none;
    padding: 10px;

    @include themify($themes) {
      color: themed('colorTextAdditional');
    }
  }

  thead th {

    @include themify($themes) {
      color: themed('colorText');
      border-bottom-color: themed('colorBorder');
    }
  }

  .badge {
    color: #ffffff;
    padding: 6px 20px;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 400;

    &.badge-success {
      background-color: $color-accent;
    }

    &.badge-warning {
      background-color: $color-yellow;
    }

    &.badge-primary {
      background-color: $color-blue;
    }

    &.badge-danger {
      background-color: $color-red;
    }

    &.badge-disabled {
      background-color: #dddddd;
    }
  }

  &.table--bordered {

    tr {

      @include themify($themes) {
        border-bottom: 1px solid themed('colorBorder');
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }

  &.table--head-accent {

    thead {

      @include themify($themes) {
        color: themed('colorTextAdditional');
        background-color: themed('colorHover');
      }

      th {
        border-bottom: none;
      }
    }
  }

  &.table-striped {

    tbody tr:nth-of-type(odd) {

      @include themify($themes) {
        background-color: themed('colorHover');
      }
    }
  }

  &.table-hover {

    tbody tr {
      transition: all 0.3s;
      cursor: pointer;

      &:hover {

        @include themify($themes) {
          background-color: themed('colorBackgroundBody');
        }
      }
    }
  }
}

.form__form-group-label {
  color: rgba(0, 0, 0, 0.87) !important;
}

.form__form-group-field {
  input {
    color: black !important;
  }
}
