@import './loginPage';
@import './card';
@import './tableMat';
@import './form';
@import './progress';
@import './modal';
@import './loginPageOrgA';
@import './panel';
@import './notifications';

button {
  font-family: 'iran';
}

.textright {
  text-align: right;
}

.topbarrtl {
  direction: rtl;
}

.ltronly {
  direction: ltr;
}

.progressFixed {
  position: fixed;
  top: 0;
  z-index: 100000;
  height: 10px;
  width: 100vw;
}

.fuckuthefield {
  border: 1px solid #f2f4f7;
  color: #646777;
  width: 100%;
  padding: 5px 10px;
  font-size: 12px;
  height: 32px;
  transition: border 0.3s;
  background: transparent;
  overflow: visible;
  font-size: 100%;
  line-height: 1.15;
}
