@import './loginPage';
@import './card';
@import './tableMat';
@import './form';
@import './progress';
@import './modal';
@import './loginPageOrgA';
@import './panel';

button {
  font-family: 'iran';
}

.textright {
  text-align: right;
}

.topbarrtl {
  direction: rtl;
}
