@import './loginPage';
@import './card';
@import './tableMat';
@import './form';
@import './progress';
@import './modal';
@import './loginPageOrgA';
@import './panel';
@import './notifications';

button {
  font-family: 'iran';
}

.textright {
  text-align: right;
}

.topbarrtl {
  direction: rtl;
}

.ltronly {
  direction: ltr;
}

.progressFixed {
  position: sticky;
  top: 0;
}
