.login-page-title {
  text-align: center;
  width: 100%;
  margin-bottom: 30px;

  img {
    margin-bottom: 40px;
    width: 40%;
  }
}

.version-indicator-in-login-page {
  position: fixed;
  bottom: 20px;
  left: 20px;
  font-size: 1rem;
}

.heythere-indicator-in-login-page {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 1rem;
}
