.qrCodeSection {
  img {
    width: 250px;
    height: 250px;
  }

  margin-bottom: 50px;
}

.centerTor {
  text-align: center;
  padding: 50px;
  width: 100%;
}

.login-orga-title {
  margin-bottom: 50px;
}

.row-seperator {
  margin-bottom: 40px;
}

.widthToryea {
  width: 70%;
}

.width-kamter-in-orga {
  direction: rtl;
  margin-bottom: 50px !important;
}
