.material-table__wrap {
  direction: rtl;
}

.material-table__cell {
  text-align: right !important;
}

.mattabfarsi {
  font-family: 'iran';

  span {
    font-family: 'iran';
  }
}

.mattabpage {
  > div {
    > span {
      direction: rtl;
    }
  }
}

.material-table__filter-menu-item {
  font-family: 'iran' !important;
}

.headfilterRTL {
  direction: rtl;
}

.liButtonGroup {
  button {
    margin-left: 10px;
  }
}

.mattabltr {
  direction: ltr;
}

.mattabcenter {
  text-align: center !important;
}

.mattabbtn {
  line-height: 1;
  margin-bottom: 0;
}

.mattabbadge-red {
  color: #ff4861;
  white-space: nowrap;
}

.mattabbadge-green {
  color: #4ce1b6;
  white-space: nowrap;
}

.headFilterBreak {
  word-break: keep-all;
  margin-left: 10px;
}

.gentokenshitty {
  padding-top: 35px;
}

.rightaligngen {
  text-align: right;
}

.genrefreshbut {
  // padding: 10px;
  border-radius: 100%;
  transition: all 0.3s;
  cursor: pointer;
  &:hover {
    background-color: #f1f1f1;
  }
}

.mattabbuts {
  > * {
    margin-left: 10px;
  }
}

.centerQR {
  > img {
    width: 200px;
    height: 200px;
  }
  text-align: center;
}

.avatarOfKarbar {
  > img {
    width: 125px;
    height: 125px;
  }
  text-align: center;
}
