.material-table__wrap {
  direction: rtl;
}

.material-table__cell {
  text-align: right !important;
}

.mattabfarsi {
  font-family: 'iran';

  span {
    font-family: 'iran';
  }
}

.mattabpage {
  > div {
    > span {
      direction: rtl;
    }
  }
}

.material-table__filter-menu-item {
  font-family: 'iran' !important;
}

.headfilterRTL {
  direction: rtl;
}

.liButtonGroup {
  button {
    margin-left: 10px;
  }
}
